.site-header {
  border-bottom: 1px solid $color-grey;
}

.site-header__wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;

  padding-top: 16px;
  padding-bottom: 16px;
}

.site-header__burger {
  margin-right: auto;
}