// === ПЕРЕМЕННЫЕ ===

// *** для различных Ширин вьюпорта ***
$vp--320:                                           320px;
$vp--375:                                           375px;
$vp--768:                                           768px;
$vp--1024:                                          1024px;
$vp--1280:                                          1280px;

$width--mobile:                                     $vp--375;
$width--tablet:                                     $vp--768 - 1;
$width--desktop:                                    $vp--1024 - 1;

$width--min:                                        $vp--320;
$width--max:                                        $vp--1280;


// *** для Шрифтов ***
$font-default:                                      "TT Norms", "Arial", sans-serif;
$font-additional:                                   "PF Regal Display Pro", "Times New Roman", serif;


// *** для Цветов ***
$color-default-white:                             #ffffff;
$color-default-black:                             #21242e;

$color-dark:                                      #1b1a17;

$color-disabled:                                  #c0c0c0;
$color-error:                                     #da7070;

$color-gold:                                      #d0bc7a;
$color-grey:                                      #e4e4e4;
$color-lightgrey:                                 #f7f7f7;
$color-mercury:                                   #a1a3a7;
$color-brown:                                     #c08d74;
$color-orange:                                    #ea976f;
$color-grape:                                     #c07474;
$color-raspberry:                                 #eb5757;


// *** для Отступов ***
$section-default-vertical-margin:                   64px;
$section-default-vertical-padding:                  32px;
