.container {
  --container-default-padding: var(--default-container-padding-value);

  width: 100%;
  max-width: $width--max;

  margin: 0 auto;
  padding: 0;
  padding-right: var(--container-default-padding);
  padding-left: var(--container-default-padding);


  &--profile-form {
    --container-default-padding: 16px;

    // --- Медиа для ширины вьюпорта 1024px ---
    @include vp--1023 {
      --container-default-padding: 0;
    }
  }

  &--no-padding {
    --container-default-padding: 0;
  }
}
