.container {
  --container-default-padding: 16px;

  width: 100%;
  max-width: $width--max;

  margin: 0 auto;
  padding: 0;
  padding-right: var(--container-default-padding);
  padding-left: var(--container-default-padding);

  // Tempo
  // outline: 2px dashed red;
}
