.burger-button {
  @include hide-block-text;

  position: relative;

  display: block;

  width: 32px;
  height: 32px;

  margin: 0;
  padding: 0;

  background-color: transparent;
  border: none;
  border-radius: 2px;

  cursor: pointer;

  $properties-for-transition: background-color, opacity;

  @include transition-settings($properties-for-transition);


  &::before,
  &::after {
    content: "";

    position: absolute;
    left: 50%;
    transform: translate(-50%, -50%);

    display: block;

    width: 20px;
    height: 2px;

    background-color: $color-default-black;

    $properties-for-transition: top, background-color;

    @include transition-settings($properties-for-transition);
  }

  &::before {
    top: calc(50% - 3px);
  }

  &::after {
    top: calc(50% + 3px);
  }


  // --- Интерактивные стили ---
  @include non-touch {
    &:hover::before {
      background-color: $color-gold;
      top: calc(50% - 5px);
    }

    &:hover::after {
      background-color: $color-gold;
      top: calc(50% + 5px);
    }
  }

  &:focus::before {
    background-color: $color-gold;
    top: calc(50% - 5px);
  }

  &:focus::after {
    background-color: $color-gold;
    top: calc(50% + 5px);
  }

  &:active {
    opacity: 0.5;
  }

  &:active::before,
  &:active::after {
    top: 50%;
  }
}
