// === ПЕРЕМЕННЫЕ ===

// *** для различных Ширин вьюпорта ***
$width--mobile: 320px;
$width--tablet: 768px;
$width--desktop: 1023px;

$width--layout-intermediate: 738px;
$width--inner-box: 1194px;
$width--max: 1448px;


// *** для Шрифтов ***
$default-font: "PT Mono", "Arial", sans-serif;
$additional-font: "Roboto Condensed", "Arial", sans-serif;


// *** для Цветов ***
$white: #ffffff;
$black: #000000;
$black--translucent: rgba($black, 0.5);

$main-site-color: #00b2ff;
$body-background-color: #1b2931;
$footer-gray: #1b2d37;
$footer-gray--translucent: rgba($footer-gray, 0.5);
