.form-list {
  @include reset-list;

  margin-top: 32px;


  // --- Медиа для ширины вьюпорта 1024px ---
  @include vp--1023 {
    margin-top: 48px;
  }
}

.form-list__item {
  display: flex;
  flex-direction: column;

  margin-top: 17px;

  &:first-child {
    margin-top: 0;
  }


  // --- Медиа для ширины вьюпорта 1024px ---
  @include vp--1023 {
    margin-top: 25px;
  }
}

.form-list__label {
  font-size: 16px;
  line-height: 24px;
  color: $color-default-black;

  opacity: 0.4;
}

.form-list__input {
  width: 100%;

  margin: 0;
  margin-top: 7px;
  padding: 16px;

  font-size: 16px;
  line-height: 24px;

  background-color: $color-lightgrey;
  border: none;
  border-radius: 4px;


  &--password {
    margin-top: 0;


    // --- Интерактивные стили ---
    @include non-touch {
      // --- Настройка для показа переключателя состояния Пароля ---
      &:hover ~ .form-list__password-state-toggler {
        opacity: 1;
      }
    }

    // --- Настройка для показа переключателя состояния Пароля ---
    &:focus ~ .form-list__password-state-toggler {
      opacity: 1;
    }
  }


  // --- Интерактивные стили ---
  @include non-touch {
    &:hover::placeholder {
      opacity: 0.8;
    }
  }

  &:focus::placeholder {
    opacity: 0.8;
  }

  &:active {
    opacity: 0.5;
  }


  // --- Медиа для ширины вьюпорта 1024px ---
  @include vp--1023 {
    max-width: 544px;
    margin-top: 11px;
  }
}

.form-list__password-input-box {
  position: relative;
  width: 100%;
  margin-top: 8px;

  
  // --- Медиа для ширины вьюпорта 1024px ---
  @include vp--1023 {
    margin-top: 1px;
  }
}

.form-list__password-state-toggler {
  position: absolute;
  top: 50%;
  right: 0;
  transform: translateY(-50%);

  display: block;

  font-size: 0;

  background-color: transparent;
  border: none;

  opacity: 0;

  cursor: pointer;

  $properties-for-transition: opacity;

  @include transition-settings($properties-for-transition);


  // --- Интерактивные стили ---
  @include non-touch {
    &:hover {
      opacity: 1;
    }

    &:hover .form-list__password-state-toggler-icon {
      stroke: $color-default-black;
    }
  }

  &:focus {
    opacity: 1;
  }

  &:focus .form-list__password-state-toggler-icon {
    stroke: $color-default-black;
  }

  &:active {
    opacity: 0.5;
  }
}

.form-list__password-state-toggler-icon {
  fill: transparent;
  stroke: $color-mercury;

  $properties-for-transition: stroke;

  @include transition-settings($properties-for-transition);
}
