.form {
  // --- Медиа для ширины вьюпорта 1024px ---
  @include vp--1023 {
    border-top: 1px solid $color-grey;
  }
}

.form__fieldset {
  display: block;

  /*
   * *** Настройки для отступов внтури <fieldset>
   * ***
   * *** Эти настройки необходимы для того,
   * *** чтобы border-bottom тянулся на всю ширину экрана,
   * *** находясь внутри .container
   */
  margin: 0;
  margin-right: calc(-1 * var(--default-container-padding-value));
  margin-left: calc(-1 * var(--default-container-padding-value));
  padding-top: 0;
  padding-right: var(--default-container-padding-value);
  padding-bottom: $section-default-vertical-padding;
  padding-left: var(--default-container-padding-value);

  border: none;
  border-bottom: 1px solid $color-grey;


  // --- Медиа для ширины вьюпорта 1024px ---
  @include vp--1023 {
    padding-right: 95px;
    padding-bottom: 80px;
    padding-left: 95px;
  }
}

.form__fieldset-title {
  margin: 0;
  padding: 0;
  padding-top: $section-default-vertical-padding;

  font-size: 20px;
  line-height: 20px;
  color: $color-default-black;


  // --- Медиа для ширины вьюпорта 1024px ---
  @include vp--1023 {
    padding-top: 80px;

    font-size: 24px;
    line-height: 24px;
  }
}

.form__submit-button {
  width: 100%;

  margin: 0 auto;
  margin-top: 32px;
  padding: 0;
  padding-top: 12px;
  padding-bottom: 12px;

  font-size: 16px;
  line-height: 24px;
  color: $color-default-white;
  text-align: center;

  background-color: $color-default-black;
  border: none;
  border-radius: 4px;

  cursor: pointer;

  $properties-for-transition: background-color, opacity;

  @include transition-settings($properties-for-transition);


  // --- Интерактивные стили ---
  @include non-touch {
    &:hover {
      background-color: $color-gold;
    }
  }

  &:focus {
    background-color: $color-gold;
  }

  &:active {
    opacity: 0.5;
  }

  &:disabled {
    color: $color-default-black;
    background-color: $color-disabled;
    cursor: default;
    opacity: 0.7;
  }


  // --- Медиа для ширины вьюпорта 1024px ---
  @include vp--1023 {
    width: max-content;

    margin-top: 80px;
    margin-left: 95px;
    padding-top: 16px;
    padding-right: 32px;
    padding-bottom: 16px;
    padding-left: 32px;
  }
}
