.profile-menu {
  border-bottom: 1px solid $color-grey;
}

.profile-menu__wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;

  padding-top: 2px;
  padding-bottom: 2px;


  // --- Медиа для ширины вьюпорта 1024px ---
  @include vp--1023 {
    padding-left: 80px;

    flex-direction: column;
    align-items: flex-start;
  }
}

.profile-menu__list {
  @include reset-list;

  display: flex;
  flex-wrap: wrap;
  column-gap: 16px;
  row-gap: 12px;


  // --- Медиа для ширины вьюпорта 1024px ---
  @include vp--1023 {
    flex-direction: column
  }
}

.profile-menu__link {
  font-size: 14px;
  line-height: 24px;
  letter-spacing: 0.04em;
  color: $color-default-black;
  text-transform: uppercase;
  text-decoration: none;

  $properties-for-transition: color, opacity;

  @include transition-settings($properties-for-transition);

  &--active {
    color: $color-gold;
  }


  // --- Интерактивные стили ---
  @include non-touch {
    &:hover {
      color: $color-gold;
    }
  }

  &:focus {
    color: $color-gold;
  }

  &:active {
    opacity: 0.7;
  }
}

.profile-menu__action-button {
  padding: 0;

  font-size: 14px;
  line-height: 24px;
  letter-spacing: 0.04em;
  text-transform: uppercase;

  background-color: transparent;
  border: none;
  border-radius: 4px;

  cursor: pointer;

  $properties-for-transition: color, opacity;

  @include transition-settings($properties-for-transition);


  // --- Интерактивные стили ---
  @include non-touch {
    &:hover {
      color: $color-gold;
    }
  }

  &:focus {
    color: $color-gold;
  }

  &:active {
    opacity: 0.7;
  }


  // --- Медиа для ширины вьюпорта 1024px ---
  @include vp--1023 {
    margin-top: 12px;
  }
}
