.season-trends {
  position: relative;
  padding-bottom: 64px;
  border: none;


  // --- Медиа для ширины вьюпорта 1024px ---
  @include vp--1023 {
    padding-bottom: 112px;
  }
}

.season-trends__title {
  letter-spacing: 0.02em;
}

.season-trends__title span {
  color: $color-gold;
}

.season-trends__slider {
  margin-top: 32px;

  // --- Медиа для ширины вьюпорта 1024px ---
  @include vp--1023 {
    margin-top: 48px;
  }
}

.season-trends__catalog-link {
  display: flex;
  align-items: center;

  width: max-content;

  margin-top: 36px;

  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0.01em;
  color: $color-default-black;
  text-decoration: none;

  $properties-for-transition: color, opacity;

  @include transition-settings($properties-for-transition);


  // --- Интерактивные стили ---
  @include non-touch {
    &:hover {
      color: $color-gold;
    }

    &:hover .season-trends__catalog-link-icon {
      stroke: $color-gold;
      border-color: $color-gold;
    }
  }

  &:focus {
    color: $color-gold;
  }

  &:focus .season-trends__catalog-link-icon {
    stroke: $color-gold;
    border-color: $color-gold;
  }

  &:active {
    opacity: 0.5;
  }


  // --- Медиа для ширины вьюпорта 1024px ---
  @include vp--1023 {
    position: absolute;
    top: 22px;
    right: 16px;
  }
}

.season-trends__catalog-link-icon {
  margin-left: 8px;

  fill: transparent;
  stroke: $color-default-black;

  border: 1px solid $color-default-black;
  border-radius: 50%;

  $properties-for-transition: stroke, border-color;

  @include transition-settings($properties-for-transition);
}
