.footer-section__title {
  margin: 0;
  padding: 0;

  font-size: 20px;
  line-height: 20px;
  color: $color-default-white;
}

.footer-section__title a {
  color: $color-default-white;
  text-decoration: none;

  $properties-for-transition: color, opacity;

  @include transition-settings($properties-for-transition);


  // --- Интерактивные стили ---
  @include non-touch {
    &:hover {
      color: $color-gold;
    }
  }

  &:focus {
    color: $color-gold;
  }

  &:active {
    opacity: 0.5;
  }
}
