.footer-nav-menu {
  padding-bottom: 40px;


  // --- Медиа для ширины вьюпорта 1024px ---
  @include vp--1023 {
    display: grid;
    grid-template-columns: repeat(3, 1fr);

    padding-bottom: 56px;
  }
}

.footer-nav-menu__title {
  color: $color-default-white;
}

.footer-nav-menu__title a {
  color: $color-default-white;
}

.footer-nav-menu__item {
  color: $color-default-white;
}

.footer-nav-menu__link {
  color: $color-default-white;
}

.footer-nav-menu__icon {
  fill: $color-default-white;
}
